/* #NavBar_2.color_white {
    background-color: white ;
}

#NavBar_2.color_transparent {
    background-color: transparent ;
    color: white;
    box-shadow: none;

}

#NavBar_2.color_transparent ul li {
    color: white;
}

#NavBar_2.color_white .logo_section h3 span {
    color: #3b61dd;
}

#NavBar_2.color_white ul li:hover {
    color: #3b61dd;
}

#NavBar_2.color_transparent .logo_section .bi-list {
    color: white;
} */




#NavBar_2  {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.176);
    z-index: 10;
    width: 100vw;
    height: 3.4rem;
    background-color: white;
    
}

#NavBar_2 .navbar_containt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: .38rem 0;
}








#NavBar_2 .logo_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

#NavBar_2 .navbar_containt i {
    display: none;
}



#NavBar_2 h3 {
    cursor: default;
    font-size: 1.4rem;
    margin: 0;
}

#NavBar_2 .logo_section h3 span {
    color: var(--main-color);
}

#NavBar_2 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0;
}

#NavBar_2 ul .contact_btn {
    display: none;
}

#NavBar_2 ul div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#NavBar_2 .navbar_containt .contact_btn li {
    background-color: var(--main-color);
    color: white; 
    padding: .3rem 1rem;
    border-radius: .3rem;
}

#NavBar_2 .Link {
    text-decoration: none;
}

#NavBar_2 li {
    cursor: pointer;
    list-style-type: none;
    font-size: 1rem;
    transition: .15s;
}

#NavBar_2 ul li:hover {
    color: var(--main-color);
}

#NavBar_2 i {
    display: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.8rem;
    color: black;
    
} 
  
    






@media(max-width: 800px) {
    #NavBar_2.active ul {
        height: 35rem;
        
    }

    #NavBar_2 .navbar_containt {
        display: flex;
        justify-content: center;
        align-items: center;
    }

#NavBar_2 .logo_section {
      width: 100%;
}
     
     
     
     #NavBar_2 .logo_section i {
         display: flex;
         align-items: center;
         justify-content: center;
         width: 3rem;
         height: 2.2rem;
         font-size: 2.1rem;
        }


        #NavBar_2 .logo_section img {
      width: 1.5rem;
}
        
        
        #NavBar_2 .navbar_containt {
            flex-direction: column;
            
        }
        
        
        #NavBar_2 ul {
            justify-content: start;
            flex-direction: column;
            gap: 0;
            height: 0rem;
            width: 100%;
            overflow: hidden;
            transition: 1s;
            padding-left: 0;

        }

        
        #NavBar_2 ul .contact_btn {
             display: flex;
}
        #NavBar_2 .navbar_containt > .contact_btn {
             display: none;
}


        #NavBar_2 ul div {
            width: 100%;
        }
        
        
        
        #NavBar_2 ul li {
        text-align: center;
        cursor: pointer;
        width: 100%;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.113);
    }
    
    
        
    #NavBar_2 ul div:last-child li {
        padding: .3rem;
        width: 7rem;
        margin-top: .7rem;
    }


    #NavBar_2 .logo_section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }  

    


/* -------------------------------------------------------------- */

    /* #NavBar_2.color_transparent.active  {
    background-color: white;
}

#NavBar_2.color_transparent.active ul li,
#NavBar_2.color_transparent.active .logo_section h3,
#NavBar_2.color_transparent.active .logo_section .bi-list  {
    color: black;
}

#NavBar_2.color_transparent.active .logo_section h3 span  {
    color: #3b61dd;
} */
    
    
}

