/* @font-face {
    font-family: Lato_light;
    src: url(./GoogleFonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: Lato_regular;
    src: url(./GoogleFonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: Lato_bold;
    src: url(./GoogleFonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: Jost_light;
    src: url(./GoogleFonts/Jost/static/Jost-Light.ttf);
}
@font-face {
    font-family: Jost_regular;
    src: url(./GoogleFonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
    font-family: Jost_bold;
    src: url(./GoogleFonts/Jost/static/Jost-Bold.ttf);
}

@font-face {
    font-family: Jost_italic;
    src: url(./GoogleFonts/Jost/static/Jost-LightItalic.ttf);
} */


#Skill_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    background-color: rgba(114, 36, 187, 0.090);
    background-color:  rgba(67, 85, 86, 0.080);
    background-color: var(--main-gray);
    padding: 6rem 0;
}

#Skill_3 .Container {
    width: 80%;
}

#Skill_3 .title_section {
    text-align: center;
}

#Skill_3 .title_section h4 {
    margin: 0;
    font-family: Lato_light;
    font-size: 1.2rem;
    color:   rgb(67, 85, 86);
    color: var(--main-color);
}

#Skill_3 .title_section h2 {
    margin: 0;
    font-family: Lato_regular;
    font-size: 2rem;
    color: rgb(32, 32, 32);
}

#Skill_3 .skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

#Skill_3 .section1 {
    width: 100%;
}

#Skill_3 .skill {
    margin-bottom: 1rem;
}



#Skill_3 .skill .description {
    display: flex;
    gap: .5rem;
}

#Skill_3 .skill .icon_box {
    width: 3rem;
    height: 3rem;
    border-radius: .2rem;
    background-color:  var(--main-black);
    background-color:  rgb(67, 85, 86);
    margin-bottom: .5rem;
}


#Skill_3 .section1:nth-child(1) .skill .description {
    flex-direction: row-reverse;
}

#Skill_3 .section1:nth-child(1) .skill .range_box {
    transform: rotateY(180deg);
}



#Skill_3 .skill .description p:last-child {
    margin: 0;
    font-family: Lato_regular;
}


#Skill_3 .skill .description p {
    margin: 0;
    margin-bottom: .3rem;
    font-family: Lato_bold;
}

#Skill_3 .skill .range_box {
    position: relative;
    overflow: hidden;
    border-radius: .20rem;
    width: 100%;
    height: .4rem;
    border: 1px solid rgba(0, 0, 0, 0.527);
    background-color: white;
}

#Skill_3 .skill .range_bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    background-color: var(--main-color);

}


#Skill_3 .section1:nth-child(2) .skill .range_bar {
    background-color: rgb(36, 187, 175);
}

#Skill_3 .skill:nth-child(1) .range_bar {
    width: 90%;
}
#Skill_3 .skill:nth-child(2) .range_bar {
    width: 80%;
}
#Skill_3 .skill:nth-child(3) .range_bar {
    width: 70%;
}
#Skill_3 .skill:nth-child(4) .range_bar {
    width: 60%;
}

#Skill_3 .skill:nth-child(5) .range_bar {
    width: 90%;
}
#Skill_3 .skill:nth-child(6) .range_bar {
    width: 80%;
}
#Skill_3 .skill:nth-child(7) .range_bar {
    width: 70%;
}
#Skill_3 .skill:nth-child(8) .range_bar {
    width: 60%;
}


@media (max-width: 700px) {
    #Skill_3 .skills {
        flex-direction: column;
        gap: 0;
    }

    
#Skill_3 .section1:nth-child(1) .skill .description {
    flex-direction: row;
}

#Skill_3 .section1:nth-child(1) .skill .range_box {
    transform: rotateY(0deg);
}

#Skill_3 .skill .description p {
}

}



@media (max-width: 501px) {
    #Skill_3 .Container {
    width: 90%;
}

    #Skill_3 .title_section h2 {
    font-size: 1.4rem;
}

#Skill_3 .skills {
    display: grid;
    grid-template-columns: 1fr;
    gap: .21rem;
    margin-top: 4rem;
}
}



